# Dependencies
node_modules/

# Build & Compilation
dist/

# Documentation
docs/
examples/

# Version Control
.git/

# Local Environment & Config
.env
typedoc.json

# Test & Local Sandbox Data
note.txt